@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-popup-content-wrapper {
	background: transparent;
	box-shadow: none;
}
.leaflet-popup-content {
	margin: 0 !important;
	border-radius: 10px;
	overflow: hidden;
	background: white;
	color: #1c1c1c;
	box-shadow: 0 3px 14px rgb(0 0 0 / 40%);
}
.leaflet-popup-close-button {
	z-index: 1;
	top: 12px !important;
	right: 12px !important;
	height: 26px !important;
	width: 26px !important;
	padding: 4px !important;
	margin: 0 !important;
	background: #fff !important;
	border-radius: 50%;
	box-shadow: 0 0 6px 0 rgb(0 0 0 / 30%);
	color: #000 !important;
	font-weight: 400 !important;
	opacity: 0.75;
	transition: opacity 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
}
.swiper-button-next:after,
.swiper-button-prev:after {
	color: white;
	font-size: 22px !important;
	font-weight: bold;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
	left: 5px;
	right: auto;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
	right: 5px;
	left: auto;
}
.swiper-pagination-bullet-active {
	background-color: #fff;
}
.swiper-pagination-bullet {
	background-color: #fff;
}
